* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(0, 0, 0);
    padding: 30px;
}

ul {
    list-style-type: none;
    margin-top: 65px;
    margin-left: 17px;
}

.notes-header {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 37px;
}

.note-title {
    color: blueviolet;
    font-weight: bold;
    font-size: 20px;
}

.note-content {
    color: rgb(0, 0, 0);
}

.notes-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 900px;
    width: 400px;
    border: 2px solid black;
    height: 95vh;
    background-image: 
    url(../images/paper.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.back-home-button {
    background-color: limegreen;
    width: 50px;
    height: 25px;
    margin-left: 20px;
    margin-top: 35px;
}

.over-all-container {
    height: 95vh;
    background-image: linear-gradient(to right, 
    rgba(69, 86, 112, 0.90), 
    rgba(28, 46, 74, 0.90)), 
    url(../images/notes-background.jpg);
    background-size: cover;
    background-position: top;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

